<%
	cats.forEach((cat, i) => {
		%><li style="white-space: nowrap; text-align:left;">
			<img src="<%=cat.img%>" style="width: 30px; height: 30px;" />
			<a href="/store-cat/<%=cat.id%>"><%=cat.title%></a>
		</li><%
	})
%>