package-lock.json

*.log

node_modules/
.vs
.vscode

config/index.js

app/public/old/*
!app/public/old/readme.txt

app/public/photos/*
!app/public/photos/readme.txt

app/public/uploads/*
!app/public/uploads/logo.*

app/public/uploads/temp/*
!app/public/uploads/temp/readme.txt

app/dist

app/public/favicon.ico
jsconfig.json
nodemon.json

app/unloading/config.js