.nav-item{ // Отступы
    margin-right: 25px;
}

.bg-letaindex{
    background-color: #262626;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(5%, #636262), color-stop(51%, #0f0f0f), color-stop(83%, #080808));
	background: -webkit-linear-gradient(top, #000000 0%, #636262 5%, #0f0f0f 51%, #080808 83%);
	background: -o-linear-gradient(top, #000000 0%, #636262 5%, #0f0f0f 51%, #080808 83%);
	background: linear-gradient(to bottom, #000000 0%, #636262 5%, #0f0f0f 51%, #080808 83%);
}

.nav-link {
    color: $navbar-letaindex-color;

    @include hover-focus {
      color: $navbar-letaindex-hover-color;
    }

    &.disabled {
      color: $navbar-letaindex-disabled-color;
    }
  }

  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active {
    color: $navbar-letaindex-active-color;
}