<p>Тип публикаций:</p>
<select class="js-change-fragment-target" data-fragment-id="<%= fragment.id -%>" name="target-post">
	<option value="">Не выбрано</option>
	<% for (let target of postTargets ) { %>
		<option value="<%= target.title -%>"><%= target.title -%></option>
	<% } %>
</select>
<span>или создать новый тип публикаций:</span>
<input type="text" data-fragment-id="<%= fragment.id -%>" class="js-post-target-input">
<button class="btn js-add-post-target">добавить</button>
<% if(user.adminMode) { %>
	<script src="/admins/js/posts-list.js" defer></script>
<% } %>