<div class="section-title">
	<% if(locals.user.adminMode) { %>
		<input type="text" value="<%= title || '' -%>" class="input-text js-pageTitle-edit" data-fragment-id="<%= locals.fragment.id -%>">
	<% } else { %>
		<h3 class="fs-regular text-center">
			<%= title || '' -%> -%>
		</h3>
	<% } %>
</div>
<% if(locals.user.adminMode) { %>
	<script src="/admins/js/page-title.js" defer></script>
<% } %>