<link rel="stylesheet" href="/css/clients-manage.css">
<div class="clients-search">
    <input class="clients-search__input" type="text" placeholder="Введите e-mail или номер телефона для поиска">
</div>
<div id="clients-list" class="clients-list"></div>
<script src="/js/clients-manage.js" defer></script>