.document-content {
    overflow: hidden;
    background-color: #fff;
    color: #000;
    flex: 1 1 auto;

    .fragment-body {
        overflow: hidden;
    }

    .section-menu {
        background: $white;
    }

    .section-center {
        background: $white;
        border: 1px solid #e0dcdc;
    }

    .section-right {
        background: $white;
    }

    .section-right-inside {
        padding-left: 10px;
        border: 1px solid #e0dcdc;
    }

    .section-title {
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 5px;
        border-bottom: 1px #e0dcdc solid;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .section-title-menu {
        padding-top: 15px;
        margin: 0;
    }

    .section-content{
        overflow-y: auto; 
        overflow-x: hidden;
        position: relative;
        height: calc(100vh - 172px);
    }
}

.section-wrapper {
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

.section-wrapper-3col {
    padding-right: 0px;
}

@media (max-width: 991px) {
    .document-content {

        .section-content {
            overflow: hidden;
            height: auto;
            max-height: auto;
            position: static;
        }

        .section-center{
            border: 0px;
        }
    
        .section-right-inside {
            border: 0px;
        }
    }

    .section-wrapper{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .document-content {
        //margin-bottom: 115px;
    }
}