.document-content {
    height: 100%;
    padding: 8px;
    background-color: #eaeaea;
    color: #000;
    margin-bottom: 35px;

    .fragment-body {
        overflow: hidden;
    }
    
    .col-scroll {
        overflow-y: auto; 
        overflow-x: hidden;
        height: calc(100vh - 150px);
    }
    
    .col-bg {
        background: $white;
        border-right: 3px solid #eaeaea;
        border-left: 3px solid #eaeaea;
    }
    
    .col-title {
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px #c3c3c3 solid;
    }
}

@media (max-width: 991px) {
    .document-content {
        margin-top: 50px;

        .col-scroll {
            overflow: hidden;
            height: auto;
        }
    }
}

@media (max-width: 767px) {
    .document-content{
        margin-bottom: 115px;
        padding: 0px;
    }
}