.document-content {
    overflow: hidden;
    background-color: #fff;
    color: #000;
    flex: 1 1 auto;

    .fragment-body {
        overflow: hidden;
    }

    .col-menu{
        background: $white;
        border: 1px solid #fff;
    }

    .col-center{
        background: $white;
        border: 1px solid #c3c3c3;
        flex-grow: 2;
    }

    .col-right{
        background: $white;
        border: 1px solid #c3c3c3;
        flex-grow: 2;
    }

    .col-title {
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 5px;
        border-bottom: 1px #c3c3c3 solid;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .col-title-menu {
        padding-top: 15px;
        margin: 0;
    }

    .col-content{
        overflow-y: auto; 
        overflow-x: hidden;
        position: relative;
        height: calc(100vh - 170px);
    }
}

.col-wrapper{
    padding-left: 6px;
    padding-top: 10px;
}

@media (max-width: 991px) {
    .document-content {
        //margin-top: 50px;

        .col-content {
            overflow: hidden;
            height: auto;
        }

        .col-title {

        }
    }
}

@media (max-width: 767px) {
    .document-content{
        //margin-bottom: 115px;
    }
}