.document-footer {
    width: 100%;
    min-height: 35px; // Высота
    line-height: 35px; // Центрирование текста
    z-index: 10000;
    font-size: 15px;
    flex: 0 0 auto;
    @include bg-letaindex;

    a {
        color: $white;
    }
    
    a:hover {
        color: $link-hover-color;
    }
}

.footer-social{
    text-align: right;
}

@media (max-width: 767px){
    .document-footer div{
        text-align: center;
    }
    .footer-social{
        text-align: center;
        font-size: 27px;
    }
}