.document-header {
	width: 100%;
	background: linear-gradient(to bottom, #000000 0%, #636262 5%, #0f0f0f 51%, #080808 83%);
	z-index: 100;
}

.document-header {
	position: relative;
	transition: transform .5s;
}

.document-header--hidden {
	transform: translateY(-100%);
}

.header-nav ul.header-menu {
	display: flex;
	align-items: center;
}

.header-menu-center li {
	margin: 0px 20px;
}

.header-menu-center li a, .header-menu-right li a {
	color: #fff;
}

.header-menu-center li a:hover, .header-menu-right li a:hover {
	color: #f36c2a;
}

.header-menu-center li:last-child {
	margin-right: 0;
}

img.nav-band {
	height: 30px;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2px 20px;
}

nav a.active-link {
	color: #f36c2a;
}

.header-menu-right {
	width: auto !important;
	margin: 0px !important;
}

.shopping-cart-link {
	position: relative;
	padding-right: 14px;
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 1px 4px;
	vertical-align: middle;
	line-height: 10px;
	text-align: center;
}

.shopping-cart-badge {
	background-color: #d9831f;
	left: auto;
	bottom: auto;
}

.menu-container {
	display: flex;
}

.site-band {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.menu-container {
	text-align: right;
	width: 100%;
	display: none;
}

.menu-container.menu-container__active {
	display: flex;
	transform: translate3d(0, 0, 0);
	overflow-y: auto;
}

.toggle-menu:before {
	content: "\2261";
	font: 2em "arial";
}

.menu-container a {
	padding: 7px;
}

ul.submenu {
    display: none;
}

.subnav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
}

.subnav li {
    margin: 15px 20px;
    padding: 0px 15px;
}

.header-menu-center li:hover > .submenu {
    display: block;
    position: absolute;
    background: black;
    width: 200px;
    text-align: center;
    background: linear-gradient(to bottom, #000000 0%, #636262 5%, #0f0f0f 51%, #080808 83%);
}

@media (max-width: 991px) {
	.site-band {
		width: 100%;
	}

	.menu-container {
		flex-direction: column;
		z-index: 1;
	}

	.header-menu {
		flex-direction: column;
	}

	.header-nav {
		flex-flow: row wrap;
	}

	.site-band {
		width: 100%;
	}

	.document-header {
		padding: 5px 0;
		position: fixed;
		z-index: 999999;
	}

	.header-menu-center li {
		margin-right: 0;
		margin-left: 0;
	}

	.header-menu-center li:last-child {
		margin-left: 0;
	}

}

@media (min-width: 992px) {
	.toggle-menu {
		display: none;
	}

	.menu-container {
		display: flex;
	}

	ul.header-menu.header-menu-center {
		margin: auto;
		flex: 1;
		justify-content: center;
		color: #fff;
	}

	.header-menu-center .active-link {
		position: relative;
		color: white;
	}

	.header-menu-center .active-link::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 4px;
		left: 0;
		z-index: 10;
		height: 2px;
		background: white;
	}
}