/*.nav-letaindex { // Navbar letaindex

  .navbar-brand {
    line-height: 0px;
    width: 40px;
    height: 30px;
    padding-top: 0;

    color: $navbar-letaindex-active-color;

    @include hover-focus {
      color: $navbar-letaindex-active-color;
    }
  }

  .navbar-nav {

    .nav-link { // Ссылки
        color: $navbar-letaindex-color;

        @include hover-focus {
          color: $navbar-letaindex-hover-color;
          text-decoration: underline;
        }

        &.disabled {
          color: $navbar-letaindex-disabled-color;
        }
    }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $navbar-letaindex-active-color;
      }
    }

  .navbar-toggler {
    color: $navbar-letaindex-color;
    border-color: $navbar-letaindex-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-letaindex-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-letaindex-color;
    a {
      color: $navbar-letaindex-active-color;

      @include hover-focus {
        color: $navbar-letaindex-active-color;
      }
    }
  }

}

@media (max-width: 991px) {
  .navbar-nav li a {
    line-height: 27px;
    height: 23px;
    padding-top: 0;
    margin-bottom: 12px;
    text-align: center;
  }
}*/