.navbar-brand {
  line-height: 0px;
  height: 22px;
  padding-top: 0;
}

.navbar-nav li a {
  //line-height: 27px;
  height: 22px;
  padding-top: 0;
}

.btn-admin-nav {
  padding: 2px 10px;
	font-size: 1rem;
}

.inp-txt-admin-nav {
  height: 27px;
  width: 120px;
}

.shopping-cart-link {
	position: relative;
	padding-right: 14px;
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 1px 4px;
	vertical-align: middle;
	line-height: 10px;
	text-align: center;
}

.shopping-cart-badge {
	background-color: #d9831f;
	left: auto;
	bottom: auto;
}

.nav-letaindex { // Navbar letaindex

  .navbar-brand {
    color: $navbar-letaindex-active-color;

    @include hover-focus {
      color: $navbar-letaindex-active-color;
    }
  }

  .navbar-nav {
    .nav-link { // Ссылки
        color: $navbar-letaindex-color;

        @include hover-focus {
          color: $navbar-letaindex-hover-color;
        }

        &.disabled {
        color: $navbar-letaindex-disabled-color;
        }
    }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $navbar-letaindex-active-color;
      }
    }

  .navbar-toggler {
    color: $navbar-letaindex-color;
    border-color: $navbar-letaindex-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-letaindex-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-letaindex-color;
    a {
      color: $navbar-letaindex-active-color;

      @include hover-focus {
        color: $navbar-letaindex-active-color;
      }
    }
  }

}

// Удаление стрелки возле выпадающего списка

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 991px) {
  .navbar-nav li a {
    line-height: 27px;
    height: 23px;
    padding-top: 0;
    margin-bottom: 12px;
    text-align: center;
  }
  .btn-admin-nav {
    display: block;
    margin: auto;
  }
}