.col-scroll {
    overflow-y: auto; 
    overflow-x: hidden;
    height: calc(100vh - 150px);
}

.col-bg {
    background: #ffffff;
    border-right: 3px solid #eaeaea;
    border-left: 3px solid #eaeaea;
}

.col-title {
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #c3c3c3 solid;
}

@media (max-width: 991px) {
    .col-scroll {
        overflow: hidden;
        height: auto;
    }
}