.document-content {
    height: 100%;
    padding: 10px;
    background-color: #eaeaea;
    color: #000;
    margin-bottom: 35px;
}

@media (max-width: 767px) {
    .document-content{
        margin-bottom: 85px;
    }
}

@import 'column'; // Колонки
@import 'menu'; // Меню

@import 'static';