.column-container{
    /*display: flex;
    flex-direction: column;*/


    /*flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;*/
}

.column-bg{
    background: #ffffff;
    border-right: 3px solid #eaeaea;
    border-left: 3px solid #eaeaea;
}

.column-title{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #c3c3c3 solid;
}

@media (max-width: 991px){

}