.flex-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-webkit-flex-direction: column !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden;
}


.padding-10px {
	padding: 10px;
}

.flex-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%;
}

.text-left {
	text-align: left !important;
}

.form-group {
	margin-bottom: 16px;
}

.text-indent > p {
	text-indent: 15px;
}

.shopping-cart-link {
	position: relative;
	padding-right: 14px;
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 2px 6px;
	vertical-align: middle;
	line-height: 13px;
	text-align: center;
}

.shopping-cart-badge {
	background-color: #d9831f;
	left: auto;
	bottom: auto;
}

/*.subnav {
	background-color: #f3f3f3;
	overflow: hidden;
}

.subnav nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.subnav ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow-x: auto;
}

.subnav li {
	margin: 15px 20px;
	padding: 0px 15px;
}*/

.section-menu__sublist > li {
	padding-left: 30px !important;
}

.section-menu__sublist > li:last-child {
	border-bottom: none;
}

.subsection-1, .subsection-3 {
	height: 35%;
}

.subsection-2, .subsection-4 {
	height: 65%;
}

.subsection-2 > div {
	padding: 10px;
}

.subsection-item {
	padding: 5px;
}

.subsection-item > div {
	height: 100%;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.subsections {
	position: relative;
	overflow: hidden;
	padding: 5px;
	/* width: 50%; */
}

.subsection-1, .subsection-3 {
	height: 35%;
}

.subsection-2, .subsection-4 {
	height: 65%;
}

.subsection-2 > div {
	padding: 10px;
}

.subsection-item {
	padding: 5px;
}

.subsection-item > div {
	height: 100%;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.section-menu .fa {
	margin-right: 10px;
	font-size: 150%;
}

table {
	width: 100%;
}

.text-indent, .text-indent_p p {
	text-indent: 30px;
}

.text-margin-bottom, .text-margin-bottom-p p {
	margin-bottom: 25px;
}

.tc-blue {
	color: #006fab;
}

.text-right {
	text-align: right;
}

.padding-0 {
	padding: 0px;
}

.fs-thin {
	font-weight: 100 !important;
}

.fs-extralight {
	font-weight: 200 !important;
}

.fs-light {
	font-weight: 300 !important;
}

.fs-regular {
	font-weight: 400 !important;
}

.fs-medium {
	font-weight: 500 !important;
}

.fs-semibold {
	font-weight: 600 !important;
}

.fs-bold {
	font-weight: 700 !important;
}

.td-underline {
	text-decoration: underline;
}

.default-list {
	list-style-type: initial;
	margin: 0px 20px;
}

.fa-margin-right {
	margin-right: 10px;
}

.mCSB_scrollTools {
	position: absolute;
	width: 16px;
	height: auto;
	left: auto;
	top: 0;
	right: -5px;
	bottom: 0;
}

.add-text-form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: 1px #c3c3c3 solid;
	padding-top: 10px;
	margin-top: 10px;
}

.add-text {
	height: 100%;
	padding: 10px;
	width: 87%;
	border: 1px #c3c3c3 solid;
}

.add-button {
	height: 100%;
	width: 150px;
}

.input-group:not(:last-child) {
	margin-bottom: 15px;
}

.input-text {
	padding: 12px 12px;
	width: 100%;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: border-color .2s;
	-o-transition: border-color .2s;
	transition: border-color .2s;
	position: relative;
}

.input-text:focus {
	border-color: #ef6c35;
}

.place-item {
	width: 100%;
	/* display: inline-flex; */
	border: 1px #c3c3c3 solid;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
	background-color: #fff;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-flow: column wrap;
	margin: auto;
	margin-bottom: 6px;
}

.place-img-wrapp {
	width: 20%;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
	max-width: 260px;
}

.place-img-wrapp img {
	width: 96%;
	display: block;
	margin: .5em auto;
	max-height: 200px;
}

.place__buttons {
	padding: 5px 0px;
}

.place__buttons .btn {
	width: 100%;
	margin-bottom: 5px;
}

.place__pairs {
	/*flex: 1;
    display: flex;
    flex-flow: row wrap;*/
	display: inline-block;
	vertical-align: top;
	width: 80%;
	/*flex: 1;*/
}

.place__title {
	/* width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1; */
	text-align: center;
	margin-bottom: 20px;
	display: inline-block;
	width: 40%;
}

.place__title h1 {
	font-size: 28px;
	margin: .5em;
}

.place__title h2 {
	font-size: 18px;
	margin-bottom: 1.5em;
}

.place__title h3 {
	font-size: 14px;
	font-weight: bold;
}

.place__info {
	/*display: flex;*/
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: left;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	/* flex: 1; */
	display: inline-block;
	vertical-align: top;
	width: 60%;
}

.place__info-name {
	font-weight: bold;
}

.place__arow {
	text-align: center;
}

.place__info > div {
	width: 100%;
}

.place__info > div:not(:last-child) {
	margin-bottom: 5px;
	padding: 5px;
}

.place__buttons.search-result_buttons {
	width: 40%;
	display: inline-block;
	text-align: center;
}

.place-graves {
	text-align: center;
	border-bottom: 1px #c3c3c3 solid;
	padding: 10px 0px;
}

.place-arow__body > div.place-graves:last-child {
	border-bottom: none;
}

.place-general a {
	text-decoration: underline !important;
}

.place-general {
	display: inline-block;
	vertical-align: top;
	width: 60% !important;
	text-align: center;
}

.place__arow {
	width: 100%;
	margin-top: 10px;
	padding: 10px 0 !important;
}

.hidden-graves {
	display: none;
}

.graves_opened .hidden-graves {
	display: block;
}

.graves__show-all {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	margin-top: 10px;
}

.graves__dates {
	font-weight: 500;
}

.pagination {
	text-align: center;
}

.pagination__to-begin.pagination__action-link {
	margin-right: 10px;
}

.pagination__to-end.pagination__action-link {
	margin-left: 10px;
}

.pagination-item {
	margin: 0 5px;
}

.pagination-item.pagination-item__active {
	font-weight: 400;
	text-decoration: underline;
}

.img90 {
	-webkit-transform: rotate(90deg) scale(0.75);
	-ms-transform: rotate(90deg) scale(0.75);
	transform: rotate(90deg) scale(0.75);
}

.admin-control-container {
	text-align: right;
	background: #c7c7c7;
	padding: 7px;
	border: 1px #c3c3c3 solid;
	margin-bottom: 21px;
	width: 100%;
}

textarea.input-text {
	margin-top: 15px;
	min-height: 150px;
	min-width: 100%;
	max-width: 100%;
	font-size: inherit;
}

.aside-toggle {
	display: none;
}

blockquote {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

blockquote {
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.fragment-body {
	overflow: hidden;
}

@media (max-width: 1199px) {
	.place__title h1 {
		font-size: 18px;
	}
}

@media (max-width: 991px) {
	.personaly-img-wrapp img {
		width: 260px !important;
		height: auto !important;
		display: block;
		margin: 0 auto;
	}
}

@media (min-width: 426px) and (max-width: 600px) {
	.place-img-wrapp {
		width: 260px;
		display: block;
		margin: 0 auto;
	}

	.place__pairs {
		width: 100%;
	}

	.place__title {
		width: 100%;
	}

	.place__info {
		width: 100%;
	}

	.place-general {
		width: 70% !important;
	}

	.place__buttons {
		width: 30% !important;
	}
}

@media (max-width: 425px) {
	.place-img-wrapp {
		width: 260px;
		display: block;
		margin: 0 auto;
	}

	.place__pairs {
		width: 100%;
	}

	.place__title {
		width: 100%;
	}

	.place__info {
		width: 100%;
	}

	.place-general {
		width: 100% !important;
	}

	.place__buttons {
		width: 100% !important;
	}
}

@media (min-width: 601px) and (max-width: 767px) {
	.place-img-wrapp {
		width: 40%;
	}

	.place__pairs {
		width: 60%;
	}

	.place__title {
		width: 100%;
	}

	.place__info {
		width: 100%;
	}

	.place-general {
		width: 60% !important;
	}

	.place__buttons {
		width: 40%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.place-item {
		/* width: 48%; */ margin: auto;
		margin-bottom: 6px;
	}

	.place__info > div {
		width: 100% !important;
	}

	/*.header-menu-center li {
        margin: 0px 20px;
    }*/
}

@media (min-width: 992px) and (max-width: 1199px) {
	.place__buttons.search-result_buttons {
		width: 100%;
	}

	.place-item {
		width: 100%;
		margin-bottom: 6px;
	}

	.place__info > div {
		width: 100% !important;
	}

	/*.header-menu-center li {
        margin: 0px 40px;
    }*/
}

@media (min-width: 1200px) {
	.place__buttons.search-result_buttons {
		width: 40%;
	}

	.place-item {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.place__info > div {
		width: 33%;
	}
}