.js-routes-list-add-route {
    display: none;
    margin-bottom: 20px;
}

/*.route-items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.route-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: -webkit-calc((100% / 3) - 45px);
	width: calc((100% / 3) - 45px);
	min-width: 290px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 40px 10px;
	background: #e4e3e3;
	border: 2px solid #d9d9d9;
}*/

/*.route-item a {
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	font-weight: 600;
}

.route-item a:hover {
	color: #ef6c35;
}*/

.js-route-edit-form {
    display: none;
}

td.js-edit-form--show .js-route-edit-form {
    display: block;
    margin-top: 20px;
    width: 100%;
}

.js-edit-form--show {
	width: 100%;
	background: #f9f9f9;
	/*-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	    -ms-flex-order: -1;
	        order: -1;*/
}

.route-table {
	margin: 1em 0;
	background: #fff;
	color: #000;
	border-radius: .4em;
	overflow: hidden;
}

.route-table th, .route-table td {
	display: table-cell;
	padding: .25em .5em;
	/*display: block;*/
}

.route-table tr {
	border-color: lighten(#34495E, 10%);
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.route-table td:first-child {
	padding-top: .5em;
	padding-bottom: .5em;
}

.route-table td:last-child, .route-table th:last-child {
	padding-top: .5em;
	padding-bottom: .5em;
}

.route-table button{
	margin-bottom: 2px;
}

@media (min-width: 980px) {
	/*.route-table td::before{
		display: none;
	}
	.route-table th, .route-table td{
		display: table-cell;
		padding: .25em .5em;
	}*/
}

.btn-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: auto;
	width: 100%;
}

.route-item__admin-btn {
	max-width: 150px;
	/*width: 50%;
	border: none;*/
}

.js-routes-list-upd-route {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.js-routes-list-upd-route h2 {
	text-align: center;
	text-transform: uppercase;
}

.section-one {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 15px;
}

.input-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
	width: -webkit-calc((100% / 2) - 20px);
	width: calc((100% / 2) - 20px);
	padding: 40px 20px;
  background: #e8e3e3;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.input-wrapper:first-child {
	margin-right: 20px;
}

.input-wrapper label {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
}

.input-wrapper span {
	font-weight: 600;
}

.first-wrapper input {
  width: 100%;
  padding: 10px;
  background: #cacaca;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #999999;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.input-wrapper__title {
	display: block;
}

.input-wrapper select {
  background: #cacaca;
  padding: 10px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-bottom: 2px solid #999999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.second-wrapper h3 {
	width: 100%;
}

.second-wrapper div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
}

.second-wrapper div:last-child {
	margin-bottom: 0px;
}

.second-wrapper label {
	width: 100%;
	font-weight: 400;
	cursor: pointer;

}

.second-wrapper input[type="radio"] {
	display: none;
}

.second-wrapper input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
}

.second-wrapper input[type="radio"]:checked + .checkbox-indicator::before,
.second-wrapper input[type="radio"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  width: 12px;
  height: 2px;
  background-color: #000000;
}

.second-wrapper input[type="radio"]:checked + .checkbox-indicator::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg)
}

.second-wrapper input[type="radio"]:checked + .checkbox-indicator::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg)
}

.section-two {
	margin-top: 30px;
	margin-bottom: 15px;
}

.section-two h2 {
	margin-bottom: 10px;
}

.section-two div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px;
  background: #e8e3e3;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.section-two label {
	width: -webkit-calc((100% / 2) - 20px);
	width: calc((100% / 2) - 20px);
	font-weight: 500;
  text-align: center;
}

.section-two textarea {
	width: 100%;
	min-height: 60px;
  padding: 10px;
  background: #cacaca;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #999999;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  resize: none;
}

.section-two span {
	display: block;
	margin-bottom: 5px;
}

.save-btn {
	min-width: 150px;
	min-height: 40px;
}