.route-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.route-item {
	width: calc((100% / 3) - 30px);
	margin-bottom: 15px;
	padding: 30px 10px;
	border: 1px solid #d9d9d9;
}

.js-edit-form--show {
	width: 100%;
	background: #f9f9f9;
	order: -1;
}