.basket-list-wrap {
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-family: "Noto Sans",Arial,sans-serif;
}

.basket-list {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 12.5px;
    padding-left: 0;
    list-style: none;
}

.basket-list__item {
    position: relative;
    margin-bottom: 30px;
    text-align: left;
    display: list-item
}

.basket-list__item-img {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 17%;
}

.basket-list__item-img>div {
    display: table-cell;
    height: 160px;
    vertical-align: middle;
    border: 0;
}

.basket-list__item-img>div>img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.basket-list__item-info {
    padding: 28px 40px 72px 40px;
    background-color: #fafafa;
    display: inline-block;
    vertical-align: top;
    width: 82%;
}

.basket-list__item-info__params {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.basket-list__item-info__params tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.basket-table__caption {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.basket-table__caption th {
    display: table-cell;
    line-height: 32px;
    color: #080808;
    font-size: 11px;
    text-align: left;
    letter-spacing: 0;
    font-weight: 600;
    font-family: "Noto Sans",Arial,serif;
    padding: 0;
}

.order-table__hr {
    height: 1px;
}

.order-table__hr-small {
    position: relative;
    display: table-cell;
}

.order-table__hr div.hr {
    opacity: .3;
    height: 1px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    content: "";
    background-image: -webkit-linear-gradient(left,transparent 0,rgba(0,0,0,.4) 50%,transparent 100%);
    padding: 0;
    width: 100%;
}

.basket-table__name {
    width: 190px;
    font-size: 14px;
    line-height: 21px;
    padding-right: 15px;
    vertical-align: top;
}

.basket-table tr td div {
    padding-top: 11px;
    padding-bottom: 13px;
}

.basket-table__code {
    width: 100px;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
}

.basket-table tr td div span {
    display: block;
}

.basket-table__material {
    width: 100px;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
}

.basket-table__size {
    width: 100px;
    font-size: 14px;
    line-height: 21px;
    padding-right: 15px;
    vertical-align: top;
}

.basket-table__counter {
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 14px;
    line-height: 21px;
    padding-right: 15px;
    vertical-align: top;
}

.basket-table__counter-btn {
    width: 23%;
    height: 1.5em;
    background-color: transparent;
    border: 1px solid #BDB3B3;
    border-radius: 3px;
    cursor: pointer;
}

.counter-btn-minus {
    margin-right: 5px;
}

.counter-btn-minus:after {
    content: "-";
    font-size: 17px;
    line-height: 1em;
}

.counter-btn-plus {
    margin-left: 5px;
}

.counter-btn-plus:after {
    content: "+";
    font-size: 13px;
    line-height: 1em;
}

.basket-table__price {
    padding-right: 0;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
}

.basket-list__item-remove {
    display: block;
    position: absolute;
    bottom: 18px;
    right: 40px;
    color: #080808;
    font-size: 14px;
    font-family: "Noto Sans",Arial,sans-serif;
}

.basket-list__item-remove-link {
    border-radius: 4px;
    border-color: #363636;
    background-color: #363636;
    color: #ffffff;
    font-size: 11px;
    display: block;
    padding: 10px 19px;
    border: 1px solid #eceae7;
    transition: background-color .2s;
}

.basket-list__item-remove-link:hover {
    color: #ffffff;
    background-color: #ef6c35;
}

.basket-content {
    margin-top: 00px;
    padding-bottom: 60px;
    display: block;
    position: relative;
}

.basket-content--shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
    background: url(../img/shadow__basket-content.png) no-repeat 50% 100%;
    background-size: 100% auto;
}

.basket-content hr {
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 1px;
    opacity: .1;
    background-color: #6fbdff;
    background-image: -webkit-linear-gradient(left,#fff 0,#4e2d00 50%,#fff 100%);
    width: 845px;
    display: block;
    margin: 0 auto;
    content: "";
    border: none;
}

.basket-total {
    display: block;
    padding: 25px 25px 25px 28px;
    margin-top: 44px;
    text-align: left;
    position: relative;
    padding-bottom: 61px;
    margin: 0;
    margin-left: -10px;
}

.basket-total__sum {
    display: inline-block;
    position: absolute;
    top: 23px;
    left: 50%;
    color: #080808;
    font-size: 14px;
    font-family: "Noto Sans",Arial,sans-serif;
    line-height: 42px;
    margin-left: -190px;
    text-align: center;
    width: 380px;
    vertical-align: top;
}

.basket-total__sum span {
    display: inline-block;
    color: #1a1a1a;
    font-size: 20px;
    font-family: "Noto Sans",Arial,sans-serif;
    vertical-align: baseline;
    line-height: 25px;
    padding: 0 4px;
}

.basket-total__sum small {
    font-size: 14px;
    color: #1a1a1a;
    font-family: "Noto Sans",Arial,sans-serif;
}

.basket-total__next {
    font-family: "Noto Sans",Arial,sans-serif;
    height: 35px;
    top: 26px;
    background-color: #363636;
    padding: 12px 29px 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 4px;
    position: absolute;
    right: 25px;
    cursor: pointer;
    margin-left: 0;
    vertical-align: center;
}

.basket-total__next:hover {
    background-color: #ef6c35;
    color: #fff;
}

.clear-basket {
    text-align: right;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-clear-basket {
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    background-color: transparent;
    outline: 0;
    color: #363636;
    border: 1px solid transparent;
    padding: 9px 25px 7px;
    border-radius: 4px;
    transition: border-color .2s;
}

.form-clear-basket:hover {
    border-color: #b4aa9c;
}

.ico-print {
    background-image: url(../img/print.png);
}

.print {
    display: inline-block;
    position: relative;
    top: 20px;
    margin-left: 10px;
    width: 15px;
    height: 16px;
    cursor: pointer;
    transition: opacity .2s;
    opacity: .4;
    color: transparent;
    background-color: transparent;
    border: 0;
}

.print:hover {
    opacity: 1;
}
