.section-content {
	padding-top: 32px;
	padding-bottom: 40px;
	padding-left: 35px;
	padding-right: 40px;
}


.default-list {
	margin: 0;
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 15px;
	font-weight: 400;
}

.question {
	font-size: 15px;
	font-weight: 500;
	border: 1px #c3c3c3 solid;
	padding: 5px 35px;
	display: none;
	word-wrap: break-word;
}

.text-indent.question {
	text-indent: 0;
}

.answer span {
	cursor: pointer;
}

.answer.show-question span{
}

.answer.show-question .question {
	display: block;
}

.flex-3b {
	display: flex;
	justify-content: space-between;
}

.flex-3b > div {
	width: 100%;
}

.answer {
    margin-bottom: 10px;
}

@media (max-width: 991px) {
	.center-title-left {
		width: 0 !important;
	}

	.section-content {
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
	
	.center-title-middle {
		flex-basis: 70% !important;
	}
}

.center-title-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
	flex-basis: 33%;
}

.center-title-right {
    display: inline-flex;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-end;
}