.section-center .section-title>div {
    flex: 1;
}

.section-center .section-title div.section-title__center {
    flex: 3;
}

@media (max-width: 767px) {
    .section-center .section-title div.section-title__center.section-title__center {
        flex: 3;
    }
}

.how-search__wrapp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.how-search {
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
}

@media (min-width: 767px) {
    .search {
        flex-flow: row wrap;
    }
}

.search__fio-wrapp {
    flex: 1;
    display: flex;
}

.search-buttons__button {
    height: 100%;
}

.search__fio {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
}

.search-input-wrapp {
    display: flex;
    width: 100%;
}

.error-text p:not(:last-child) {
    margin-bottom: 16px;
}

.btn.search-buttons__button.search__settings {
    border-radius: 0px;
    width: 40px;
    background-color: transparent;
    color: #000;
    position: relative;
    left: 0px;
    align-self: center;
}

input.search__fio {
    padding-right: 40px;
    margin-right: -80px;
	font-size: 18px;
    text-align: center;
    border-color: #7a7a7a;
}

button.btn.search-buttons__button.search__search-button {
    width: 100%;
    padding: 20px;
}

.search-result_buttons .btn {
    margin-bottom: 10px;
    width: 100%;
}

.search__result-info {
    margin: 10px 0px;
}

div#how-seach__info {
    margin-top: 20px;
}

.advanced_search {
    display: none;
    width: 100%;
    margin-bottom: 15px;
}

#how-seach__info {
    display: none;
}

.advanced_search.advanced_search__showed {
    display: block;
    background-color: #f3f3f3;
    border: 1px #c3c3c3 solid;
}

.advanced_search .input-text {
    width: 100%;
    margin-bottom: 20px;
}

.advanced-group {
	display: flex;
    margin: 10px 0px;
    flex-flow: column wrap;
}

.advanced_f, .advanced_i, .advanced_o, .advanced_place, .advanced_grave {
    flex: 1;
}

.advanced-date {
	flex-flow: row wrap;
}

.advanced-date label {
    margin: 0px 10px;
    flex: 1;
}

.advanced_search label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.advanced_search span {
    font-weight: 500;
    margin-bottom: 10px;
}

.search-section {
    display: none;
}

.search-fullname-container {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.error-creator {
    text-align: center;
    font-weight: bold;
    background-color: #eaeaea;
    border: 1px #c3c3c3 solid;
    padding: 7px;
    border-bottom: 0;
}

.error-text {
    border: 1px #c3c3c3 solid;
    padding: 20px 10px;
}

.error-created {
    text-align: right;
    background: #eaeaea;
    padding: 7px;
    border: 1px #c3c3c3 solid;
    border-top: 0;
}

.error-item {
    margin-bottom: 21px;
    border: 1px #c3c3c3 solid;
    padding: 5px;
}

@media (min-width: 767px) {
    button.btn.search-buttons__button.search__search-button {
        width: 150px;
        margin: 0px;
        padding: 10px;
    }

    .advanced_fio, .advanced_info {
        flex-flow: row wrap;
    }

    .advanced_search label {
        flex-flow: row;
        justify-content: space-around;
    }

    .advanced_search .input-text {
        width: auto;
        margin-bottom: 20px;
    }
}
