.shops-page__shops-top, .shops-page__shops-bottom {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
}

.shops-page__shops-top-left, .shops-page__shops-bottom-left {
    flex: 3;
    min-width: 300px;
}

.shops-page__shops-top-right, .shops-page__shops-bottom-right {
    flex: none;
    width: 100%;
    margin: 15px 0;
}

.shops-page__shops-bottom > div {
    margin: 10px;
}

.shop-img img {
    width: 70%;
    /* object-fit: cover; */
    max-height: 250px;
}

.shop-img {
    width: 100%;
    text-align: center;
}

.shop-contacts {
    width: 100%;
    flex: none;
}

.shop-map {
    height: 260px;
    width: 100%;
}

.contacts-info__item {
    margin: 20px auto;
}
