.shops-items {
    margin-top: 15px;
}

/*.shops-item:not(:first-child) {
    margin-top: 15px;
}*/

.shops-item {
    border: 1px #c3c3c3 solid;
    padding-bottom: 15px;
}

.shops-item__title {
    text-align: center;
    background: #eaeaea;
    border: 1px #c3c3c3 solid;
    padding: 7px;
    margin-bottom: 15px;
}

.shops-item__more {
	text-align: center;
}

.shops-item__text img {
	max-width: 100%;
	display: block;
	margin: 10px auto;
}

.shops-item__text p {
    padding: 0 5px;
}

.shops-item__adress {
    display: block;
}

.shops-item__phone {
    display: block;
}

@media (min-width: 768px) {
    .shops-items {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }

    .shops-item:not(:nth-child(3n)) {
        margin-right: 5px;
    }

    .shops-item {
        width: -webkit-calc((100% / 3) - 5px);
        width: calc((100% / 3) - 5px);
        margin-bottom: 5px;
    }
}

@media (min-width: 976px) {
	.shops-item__text img {
		max-width: 50%;
	}
}

.shops-item__image {
    display: block;
    width: 100%;
    text-align: center;
}

.shops-item__image img {
    max-height: 250px;
    max-width: 100%;
}

@media (max-width: 400px) {

    .shops-item__image img {
        width: 100%;
    }

}