<link rel="stylesheet" href="/css/c_tabs.css">
<link rel="stylesheet" href="/css/questions-list.css">
<div class="tabs-wrapper">
	<% if(session.user.adminMode) { %>
		<ul class="tabs-titles-wrap">
			<li class="tab active tab-all">Все</li>
			<li class="tab tab-all">Неопубликованные</li>
		</ul>
	<% } %>
	<div class="tabs-content-wrap"><%
		
		%><div class="tab-content active"><%
				
				cats.map(c => {
					%><h3><%= c.question %></h3><br /><%
					%><%- include("./question-list", { questions : c.questions }) -%><%
					
				});
				
		%></div>
		
		<% if(session.user.adminMode) { %>
			<div class="tab-content not-modered-reviews">
				<%- include('./question-list', { questions: questionsNotPublished }) -%>
			</div>
		<% } %>
	</div>
</div>

<div class="add-text-form">
    <input type="text" class="add-text add-question-text" id="questionText" placeholder="Вопрос">
    <button class="btn add-button add-question-button">Добавить</button>
</div>
<script src="/js/questions-list.js" defer></script>
<% if(session.user.adminMode) { %>
	<script src="/admins/js/questions-list.js" defer></script>
<% } %>