<link rel="stylesheet" href="/css/news-list.css">
<div class="news">
	<% if(user.adminMode) { %>
		<div class="admin-control-container news-admin-control-container">
			<button class="btn news-add js-news-add">Добавить</button>
		</div>
	<% } %>
	<% if(user.adminMode) { %>
		<%- include('./news-list.ejs', { news: newsNotPublic }) -%>	
	<% } %>
	<%- include('./news-list.ejs', { news: news }) -%>
</div>
<%- pagination.render() -%>
<% if(user.adminMode) { %>
	<script src="/admins/js/news-list.js" defer></script>
	<script src="/admins/js/news-id.js" defer></script>
<% } %>