.btn {
    background-color: #363636;
    border: none;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    color: #fff;
    padding: 7px 10px;
    cursor: pointer;
    font-family: inherit;
    display: inline-block;
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
    /* text-align: center; */
    -webkit-transition: background-color 0.15s;
    -o-transition: background-color 0.15s;
    transition: background-color 0.15s;
}

.btn.btn-dark {
    background-color: #363636;
}

.btn-inverse {
    background-color: #ef6c35;
}

.btn-inverse:hover {
    background-color: #b95a31 !important;
}

.btn.btn-dark:hover {
    background-color: #ef6c35;
}

.btn-big {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	min-width: 100px;
}

.btn-small{
    padding: 1px 6px;
	font-size: 1rem;
}

.btn:hover {
    color: #fff;
    background-color: #6d96a0;
}

.btn-disabled, .btn:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.btn-disabled:hover {
    background-color: #363636 !important;
}

.btn-blue, .select-set{
	width: 100%;
	max-width: 262px;
	padding: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: -webkit-gradient(linear, left bottom, left top, from(#1f2121), color-stop(35%, #333636), color-stop(68%, #5e6363), color-stop(95%, #686e6e));
	background: -webkit-linear-gradient(bottom, #1f2121 0%, #333636 35%, #5e6363 68%, #686e6e 95%);
	background: -o-linear-gradient(bottom, #1f2121 0%, #333636 35%, #5e6363 68%, #686e6e 95%);
	background: linear-gradient(to top, #1f2121 0%, #333636 35%, #5e6363 68%, #686e6e 95%);
	font-weight: 400;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.select-set option {
    color: #000;
}