/*@import '../vendors/bootstrap/scss/bootstrap-reboot'; // Подключаем Bootstrap 
@import '../vendors/bootstrap/scss/bootstrap-grid'; // Подключаем Bootstrap сетку
@import '../vendors/bootstrap/scss/nav'; // Подключаем Nav
@import '../vendors/bootstrap/scss/navbar'; // Подключаем NavBar*/

@import 'variables'; // Подключаем переменные

@import '../vendors/bootstrap/scss/bootstrap'; // Подключаем bootstrap

@import 'buttons'; // Подключаем кнопки
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

*{
    outline: none;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    background-color: #eaeaea;

    /*display: flex;
    flex-direction: column;*/
}

ul {
    list-style: none;
}

@import 'scrollbar'; // Подключаем Scrollbar

@import 'header/header'; // Подключаем header
@import 'main/main'; // Подключаем content
@import 'footer'; // Подключаем footer