/*@import '../vendors/bootstrap/scss/bootstrap-reboot'; // Подключаем Bootstrap
@import '../vendors/bootstrap/scss/bootstrap-grid'; // Подключаем Bootstrap сетку
@import '../vendors/bootstrap/scss/nav'; // Подключаем Nav
@import '../vendors/bootstrap/scss/navbar'; // Подключаем NavBar
@import '../vendors/bootstrap/scss/mixins'; // Подключаем Миксины
@import '../vendors/bootstrap/scss/utilities'; // Подключаем вспомогательные классы*/

@import 'variables'; // Подключаем переменные
//@import '../vendors/bootstrap/scss/variables'; // Подключаем bootstrap переменные

@import '../vendors/bootstrap/scss/bootstrap'; // Подключаем bootstrap

@import 'buttons'; // Подключаем кнопки
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow'); // Подключаем шрифт

*{
    outline: none;
    box-sizing: border-box;
    margin: 0px;
	padding: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    background-color: #eaeaea;
}

ul {
    list-style: none;
}

@import 'scrollbar'; // Подключаем Scrollbar

@import 'header/header'; // Подключаем header
@import 'main/main'; // Подключаем content
@import 'footer'; // Подключаем footer