@import 'utility/module'; // Подключаем утилиты
//@import '../vendors/bootstrap/scss/bootstrap'; // Подключаем bootstrap

@import '../vendors/bootstrap/scss/bootstrap-reboot';
@import '../vendors/bootstrap/scss/bootstrap-grid'; // Подключаем bootstrap сетку
@import '../vendors/bootstrap/scss/nav'; // Подключаем nav
@import '../vendors/bootstrap/scss/navbar'; // Подключаем navbar
@import '../vendors/bootstrap/scss/transitions'; //
@import '../vendors/bootstrap/scss/dropdown'; // Подключаем dropdown
@import '../vendors/bootstrap/scss/utilities'; // Подключаем утилиты


//@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow'); // Подключаем шрифт

*{
    outline: none;
    box-sizing: border-box;
    margin: 0px;
	padding: 0px;
}

body {
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

table{
    width: 100%;
}

@import 'components/module'; // Подключаем компонеты
@import 'layout/module'; // Подключаем шаблоны