@import 'utility/module'; // Подключаем утилиты
@import '../vendors/bootstrap/scss/bootstrap'; // Подключаем bootstrap
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow'); // Подключаем шрифт

*{
    outline: none;
    box-sizing: border-box;
    margin: 0px;
	padding: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

ul {
    list-style: none;
}

table{
    width: 100%;
}


@import 'components/module'; // Подключаем компонеты
@import 'layout/module'; // Подключаем шаблоны