/*@import '../vendors/bootstrap/scss/bootstrap-reboot'; // Подключаем Bootstrap 
@import '../vendors/bootstrap/scss/bootstrap-grid'; // Подключаем Bootstrap сетку
@import '../vendors/bootstrap/scss/nav'; // Подключаем Nav
@import '../vendors/bootstrap/scss/navbar'; // Подключаем NavBar*/

@import 'variables'; // Подключаем переменные

@import '../vendors/bootstrap/scss/bootstrap'; // Подключаем bootstrap

*{
    outline: none;
    box-sizing: border-box;
}

// Прикрепление футера к нижней части
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #eaeaea; // Цвет body
    //margin-bottom: 35px; /* Поле снизу по высоте футера */
}

@import 'scrollbar'; // Подключаем Scroll

@import 'header/header'; // Подключаем header
@import 'main/main';
@import 'footer'; // Подключаем footer