<div class="text-center text-margin-bottom">
	<h3 id="news_id" data-id="<%= news.id %>"><%= news.title %></h3>
</div>
<div class="news content">
	<div class="news__news-right">
		<div class="news__news-text text-indent_p text-margin-bottom-p">
			<%- Helpers.replaceLineBreaks(news.text) %>
		</div>
	</div>
</div>