<link rel="stylesheet" href="/css/first_page.css">
<div class="zero"></div>
<img src="/img/de_uro/Site-hat/SC120625wide.PNG" class="paralax" alt="суд">
<div class="block header">
	<div class="title">
		Агенство Правовых Услуг
	</div>
	<img src="/img/de_uro/Site-hat/Name/De-Jure.PNG" alt="">
	<div class="desc">
		"На защите ваших прав"
	</div>
	<div class="phones">
		Телефоны: <a href="tel:83591431729">8 (3591) 431-729</a>
		<br>
		<a href="tel:83591431729">8 (912) 324-0691</a>
	</div>
	<div class="btn btn-success">
		Заказать услугу
	</div>
</div>

<div class="block first">
	<div class="title">
		<h2>Профессиональная Юредическая Помощь</h2>
	</div>
	<div class="carts">
		<div class="cart">
			<div class="img"></div>
			<div class="title_cart">
				<b>title 1</b>
			</div>
			<div class="desc_cart">
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
			</div>
			<a href="#">Читать далее <i class="fa fa-angle-right"></i></a>
		</div>
		<div class="cart">
			<div class="img"></div>
			<div class="title_cart">
				<b>title 1</b>
			</div>
			<div class="desc_cart">
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
			</div>
			<a href="#">Читать далее <i class="fa fa-angle-right"></i></a>
		</div>
		<div class="cart">
			<div class="img"></div>
			<div class="title_cart">
				<b>title 1</b>
			</div>
			<div class="desc_cart">
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
			</div>
			<a href="#">Читать далее <i class="fa fa-angle-right"></i></a>
		</div>
		<div class="cart">
			<div class="img"></div>
			<div class="title_cart">
				<b>title 1</b>
			</div>
			<div class="desc_cart">
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
				desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.desc 1 desc 1 desc 1. desc 1 desc 1, desc 1 desc 1.
			</div>
			<a href="#">Читать далее <i class="fa fa-angle-right"></i></a>
		</div>
	</div>
</div>

<div class="block second">
	<div class="container">
		<div style="width: 100%;" class="row">
			<div class="col-2">

			</div>
			<div class="col-8">
				<div class="row">
					<div class="col-3">
						<img src="/img/ban.png" alt="">
					</div>
					<div class="col-9">
						<div class="row">
							<div class="col-8 text one">
								<p>Реалии современного мира таковы, что практически любые
								отношения между людьми или корпорациями подвергаются правовой
								регламентации. Все чаще возникает необходимость в услугах адвоката,
								профессионального юриста, надежного и профессионального
								советника в области права.</p>
								<p>Cемейные, наследственные, Трудовые, страховые, банковские И
								иные споры имеют ряд особенностеи, ЗНЭТЬ О которых может ТОЛЬКО
								грамотныи юрист С бОЛЬШИМ практическим ОПЫТОМ.</p>
								<p>Мы работаем для разрешения самых трудных юридических задач и
								проблем, с которыми сталкиваются наши клиенты. Благодаря
								индивидуальному и нестандартному подходу наши юридические
								решения полностью соответствуют Вашим целям.</p>
							</div>
							<div class="col-4">
								<img src="/img/de_uro/Site-body2/Photo 2/1.PNG" alt="">
							</div>
							<%# <div class="col-1">

							</div> %>
							<div class="col-12 middle-text">
								<p><b>Требуется юридическая помощь?</b></p>
								Заполните форму и получите <u><b>бесплатно</b></u> консултацию от юристов.
								<div class="btns_block">
									<div class="row" style="width: 100%;">
										<div class="col-1"></div>
										<div class="col-3">
											<input type="text" class="form-control" placeholder="Ваше имя" value="">
										</div>
										<div class="col-1"></div>
										<div class="col-3">
											<input type="text" class="form-control" placeholder="Ваш телефон" value="">
										</div>
										<div class="col-1"></div>
										<div class="col-2">
											<div class="btn btn-success">Жду звонка<i class="fa fa-phone"></i></div>
										</div>
										<div class="col-1"></div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<img src="/img/de_uro/Site-body2/Photo 2/2.PNG" alt="">
							</div>
							<div class="col-8 text two">
								<p><b>В основе деятельности юридической компании «Де-Юре»
								лежат три основных принципа:</b></p>
								<p>- строгое следование интересам КПИЭНТЗ. ЭТО 3НЗЧИТ, ЧТО УСПУГЗ
								будет оказана В СРОКИ, удобные ДЛЯ Вас, ЧТО НИКЭКИМ Образом не
								отразится на качестве Нашей работы. МЫ всегда НЗХОДИМСЯ на СВЯЗИ С
								НЭШИМИ КЛИЭНТЭМИ.
								</p>
								<p>- гарантия конфиденциальности. Это значит, что любая информация,
								доверенная нам клиентами, гарантированно не выйдет за пределы
								офиса. Многолетняя практика и увеличивающееся с каждым годом число
								постоянных клиентов является подтверждением того, что нам можно
								доверять. В своей деятельности мы неизменно следуем признанным на
								национальном и международном уровне морально-этическим
								ценностям.
								</p>
								<p>- исключительный профессионализм. Мы объединяем знания,
								полученные в ведущих вузах нашей страны с обширным практическим
								опытом и навыками. Наши специалисты имеют опыт работы в
								государственных структурах, опыт преподавательской деятельности
								различных правовых дисциплин.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="block third">
	<div class="image_block">
		<img src="/img/de_uro/Site-body2/Photo 1/ale_top_images_3.PNG" alt="">
		<div class="text">
			<div class="title">
					<b>Защита вашего бизнеса</b>
			</div>
			<div class="desc">
				Мы понимаем бизнес и цели наших клиентов.
				Наша деятельность направлена на современное выявление проблем и быстрое, безболезненное их разрешение в кратчайшие сроки
			</div>
			<div class="btns">
				<u>Перейти <i class="fa fa-angle-right"></i></u>
				<u>Написать <i class="fa fa-angle-right"></i></u>
			</div>
		</div>
	</div>
	<div class="image_block">
		<img src="/img/de_uro/Site-body2/Photo 2/consult-48-1-123.PNG" alt="">
		<div class="text">
			<div class="title">
				<b>Гражданское право</b>
			</div>
			<div class="desc">
				Все ресурсы нашей юридической компании направлены на достижение результатов, необходимых нашему клиенту.
			</div>
			<div class="btns">
				<u>Подробнее <i class="fa fa-angle-right"></i></u>
				<u>Написать <i class="fa fa-angle-right"></i></u>
			</div>
		</div>
	</div>
	<div class="image_block">
		<img src="/img/de_uro/Site-body2/Photo 3/45937111.PNG" alt="">
		<div class="text">
			<div class="title">
					<b>Автоюрист</b>
			</div>
			<div class="desc">
				В какую ситуацию вы бы не попали на дороге, будьте уверены, мы придём к вам на помощь и решим любой юридический вопрос.
			</div>
			<div class="btns">
				<u>Подробнее <i class="fa fa-angle-right"></i></u>
				<u>Написать <i class="fa fa-angle-right"></i></u>
			</div>
		</div>
	</div>
</div>

<div class="block fourth">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h3><u>Мы предлогаем самый обширный перечень юридических услуг, чтобы вы спокойно могли заниматься своей работой и личной жизнью.</u></h3>
			<p>Именно поэтому мы считаем своим профессиональным долгом проникнуться вашей
		проблемой и представить все возможные пути её разрешения. Мы можем говорить о качестве
		нашей работы. так как уже достаточно долго существуем на рынке юридических услуг
		населению и организациям. Именно профессионализм, индивидуальный подход к каждому
		клиенту отличает нашу организацию. Мы заинтересованны в том, чтобы любой кпиент. который
		к нам обратился, стал бы нашим постоянным кпиентом, мы работаем для вас!</p>
		<br>
		<div class="row">
			<div class="col-4">
				<img src="/img/de_uro/Site-hat/Balance1.PNG" alt="">
				<h2><b>Высокий профессионализм</b></h2>
				<p>(Юридическое образование в ведущих
				ВУЗах страны в совокупности ‹:
				многолетней практикой успешной
				деятельности позволяет нам найти
				наиболее выгодное и удобное решение прогнозы разрешения
				даже самых сложных проблем, вашего дела, исходя из
				Постоянное совершенствоввние знаний ваших личных интересов,
				и повышение квалификации даёт нам без навязывания
				возможность применять новые и дополнительных услуг.)
				нестандартные алгоритмы разрешения
				самых безвыходных ситуаций)</p>
			</div>
			<div class="col-4 less">
				<img src="/img/de_uro/Site-hat/Balance1.PNG" alt="">
				<h2><b>Надёжность</b></h2>
				<p>(Обратившись ›‹ нам вы
				можете быть уверены в
				том, что мы дадим самые
				точные и честные ...)</p>
			</div>
			<div class="col-4 less">
				<img src="/img/de_uro/Site-hat/Balance1.PNG" alt="">
				<h2><b>конфиденциальность</b></h2>
				<p>(Вы можете быть уверены в
					том, что любая информация
					будет надёжно защищена.
					Персональные данные нигде
					не публикуются, 5 передача
					информации происходит по
					зашифрованному каналу связи
					с применением высоких
					технопогий)</p>
			</div>
		</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>

<div class="block fifth">
	<img class="bg" src="/img/de_uro/Site-body4/Screen-Shot-2016-10-25-at-12.54.04-PM.PNG" alt="">
	<img class="fifth-logo" src="/img/de_uro/Site-hat/Balance1.PNG" alt="">
	<div class="row text_row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="row">
				<div class="col-5">
					<h1>ООО "Де-Юре"</h1>
					<p>
<a href="#">Новости</a> | <a href="#">О Компании</a> | <a href="#">Вакансии</a>
					</p>
				</div>
				<div class="col-3"></div>
				<div class="col-4">
					<h2><u>Контакты</u></h2>
					<p><i class="fa fa-home"></i> Магнитогорск, ул Советская 143</p>
					<p><i class="fa fa-phone"></i> <a href="tel:83519431729">8 (3519) 431-729</a></p>
					<p><i class="fa fa-skype"></i> http://localhost:3000/</p>
					<p><i class="fa fa-mail"></i> Магнитогорск, ул Советская 143</p>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>


<script src="/js/first_page.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/first_page.js" defer></script>
<% } %>
