<% data.forEach((cat) => { %>
	<div class="goods-group">
		<h1 class="goods-group__title"><%= cat.title %></h1>
		<div class="goods-list">
			<div class="goods-list__items-wrapper">
				
			</div>
		</div>
	</div>	
<% }) %>

