.section-menu-item a.no-arrow::after {
    display: none;
}

.section-menu .dropdown-menu{
	padding-left: 10px;
	padding-right: 10px;
}

.section-menu-item a {
	display: block;
	position: relative;
	text-decoration: none !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px solid #c3c3c3;
	padding-top: 11px;
	font-size: 15px;
}

.section-menu-item-admin a {

}

.section-menu-item-user a {
	padding-bottom: 11px;
}

.section-menu-item p {
	padding: 0;
	margin: 0;
}

.section-menu-item.active > a {
	padding-left: 20px;
	font-size: 18px;
	font-weight: 700;
}

.section-menu-item a::after {
	content: '';
	position: absolute;
	right: 0px;
	top: 43%;
	border: 4px solid transparent;
	border-left: 5px solid #000000;
}

.section-menu-item.active > a::after {
	position: absolute;
	right: 0px;
	top: 30%;
	border: 9px solid transparent;
	border-right: 12px solid #000000;
}

.section-menu__sublist > li {
	padding-left: 30px !important;
}

.section-menu__sublist > li:last-child {
	border-bottom: none;
}