/* items list */

.items-list {
}
.items-list li {
	display: inline-block;
	vertical-align: top;
}
.items-list-img-cnt {
	width: 100%;
	height: 250px;
	display: table;
}
.items-list-img-cnt > div {
	display: table-cell;
	vertical-align: middle;
}
.items-list img {
	width: 100%;
	height: auto;
}
.items-list li .btn {
	margin: 1em;
}
