<%- include('./includes/header') -%>
<main style="flex: 1; height: 100%; overflow: auto;">
	<%- include('./includes/fragments-container', { block_id: 2 }) -%>
</main>
<%- include('./includes/footer') -%>
