<%- include('./includes/header') -%>

<main class="document-content section-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 section-center">
                <p class="section-title text-center"><%= route.title -%></p>
                <div class="row">
                    <div class="col section-content">
                        <%- include('./includes/fragments-container', { block_id: 2 }) -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./includes/footer') -%>