<%- include('./includes/header') -%>
<main class="document-content">
    <aside class="section-left sections">
        <div class="section-title">
            <h3 class="fs-regular">Информация</h3>
        </div>
        <div class="section-menu-wrapp">
            <% if(user.adminMode) { %>
                <button style="width: 100%" class="btn">Добавить меню</button>
            <% } %>
        </div>
    </aside>
    <section class="section-center sections">
        <div class="section-title">
            <h3 class="fs-regular text-center"><%= title -%></h3>
        </div>
        <div class="section-content">
            <%- include('./includes/fragments-container') -%>
        </div>
    </section>
    <aside class="section-right sections">
        <div class="section-title">
            <h3 class="fs-regular">Акции и предложения</h3>
        </div>
    </aside>
</main>
<%- include('./includes/footer') -%>