<section style="margin-bottom: 20px">
	<form class="js-add-globalVariables--form">
		<div class="form-group">
			<h1>Добавить новую переменную</h1>
		</div>
		<div class="form-group">
			<label>
				<span>Заголовок:</span>
				<input type="text" name="title">
			</label>
		</div>
		<div class="form-group">
			<label>
				<span>Название (для программистов):</span>
				<input type="text" name="target">
			</label>
		</div>
		<div class="form-group">
			<span>Значение:</span>
			<input type="text" name="value">
		</div>
		<div class="form-group">
			<button class="btn">Добавить</button>
		</div>
	</form>
</section>
<section>
	<div class="form-group">
		<h1>Список настроек</h1>
	</div>
	<% settings.forEach((s) => { %>
		<form>
			<div class="form-group">
				<span><%= s.title -%>: </span>
				<input class="js-input-value" data-target="<%= s.target -%>"  type="text" value="<%= s.value -%>">
				<% if(s.type == "5") { %>
					<input class="js-upload-image" data-target="<%= s.target -%>" type="file">
				<% } %>
			</div>
		</form>
	<% }) %>
</section>
<script src="/admins/js/globalConfig.js" defer></script>